<html>
	<head>
		<title>Talk to Our Bot!</title>
	</head>
	<body>
		<p>Why don't you have a chat with our favorite bot? :)</p>
		<div class="fb-messengermessageus" 
		  messenger_app_id= <%= appId %>  
		  page_id= <%= pageId %> 
		  data-ref= <%= dataRef %> 
		  color="blue" 
		  size="standard">
		</div>
		<script>
			
		    window.fbAsyncInit = function() {
		      console.log("Initializing FB!");
		      FB.init({
		        appId: <%= appId %>,
		        xfbml: true,
		        version: "v2.6"
		      });

		      FB.Event.subscribe('send_to_messenger', function(e) {
    			// callback for events triggered by the plugin
    			console.log("Send to mesenger event triggered!");
		  	  	console.log("Event info: " + JSON.stringify(e));
		  	  });

  		      FB.Event.subscribe('messageus', function(e) {
    			// callback for events triggered by the plugin
    			console.log("messageus event triggered!");
		  	  	console.log("Event info: " + JSON.stringify(e));
		  	  });



		    };
		    (function(d, s, id){
		       var js, fjs = d.getElementsByTagName(s)[0];
		       if (d.getElementById(id)) { return; }
		       js = d.createElement(s); js.id = id;
		       js.src = "//connect.facebook.net/en_US/sdk.js";
		       fjs.parentNode.insertBefore(js, fjs);
		       console.log("Added script!");
		    }(document, 'script', 'facebook-jssdk'));

		    function getUserInfo(userID) {
			    var xmlhttp = new XMLHttpRequest();
			    xmlhttp.onreadystatechange = function() {
			        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
			           if (xmlhttp.status == 200) {
			               document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
			           }
			           else if (xmlhttp.status == 400) {
			              alert('There was an error 400');
			           }
			           else {
			               alert('something else other than 200 was returned');
			           }
			        }
			    };
			    xmlhttp.open("GET", "https://graph.facebook.com/v2.6/" + userID + "?access_token=" + pageAccessToken, true);
			    xmlhttp.send();
			}

  		</script>

	</body>
</html>